* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'dm sans', sans-serif;
}

body {
    /* background-color: hsl(19, 12%, 8%); */
    background-color: #000;
}

.h2-title {
    color: #fff;
    font-size: 3rem;
}

.p {
    color: #fff;
    font-size: 1.7rem;
    line-height: 2rem;
    text-indent: 3rem;
}

.h3-title {
    color: #fff;
    font-size: 2rem;
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    font-weight: 300;
    margin-left: 2.5rem;
}

/* menu */
.menu-btn {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    position: absolute;
}

/*  */

.painel {
    /* background-color: #000; */
    width: 100%;
    height: 100%;
    padding: 0 10%;
}

.wrapper {
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 100px;
    column-gap: 1rem;

}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    gap: 1.5rem;
}

.btn-tri {
    border: none;
    background: none;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    /* border-width: 150px 150px 300px; */
    border-color: #ffa5ea transparent;

    border-left: 150px solid transparent ;
    border-right: 150px solid transparent ;
    border-top: 300px solid #ffa5ea;
    border-bottom: transparent;
}

.under-tri {
    text-decoration: none;
    /* border-bottom: 2px dashed #fff; */
    padding-bottom: 3px;
}

.box-info {
    color: #000;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(50px);
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 120%;
}

/* Cards js */
/*  */

#box_info {
    display: none;
}
#box_info.show {
    display: flex;
}

#box_info2 {
    display: none;
}
#box_info2.show {
    display: flex;
}

#box_info3 {
    display: none;
}
#box_info3.show {
    display: flex;
}

#box_info3 {
    display: none;
}
#box_info3.show {
    display: flex;
}

#box_info4 {
    display: none;
}
#box_info4.show {
    display: flex;
}

#box_info5 {
    display: none;
}
#box_info5.show {
    display: flex;
}

#box_info6 {
    display: none;
}
#box_info6.show {
    display: flex;
}

/*  */

.info-box {
    width: 60%;
    height: fit-content;
    background-color: #fff;
    border: #333 solid 2px;
    border-radius: 15px;
    padding: 3rem;
    margin-top: 6rem;

    z-index: 99;
    position: absolute; 
    overflow: auto;
}

.info-box-start {
    display: flex;
    text-align: left;
    height: fit-content;
    padding-bottom: 1rem;
}

.info-box-img {
    width: 50%;
    height: 30rem;
    display: flex;
    padding-right: 1rem;
    justify-content: center;
    /* padding-bottom: 1rem; */
}
.info-box-img img {
    height: 100%;
}

.info-box-personal {
    width: 50%;
}

.info-box-hr {
    margin: 1rem 0;
}

.card-h1 {
    font-size: 2.5rem;
}

.card-h2 {
font-size: 1.5rem;
font-weight: lighter;
}
.card-h2 span {
    font-weight: bold;
}

.info-box-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-indent: 2rem;
    text-align: justify;
}

.card-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: .7rem;
}

/* infos */

.infos {
    padding: 0 10%;
    width: 100%;
}

.info-box-last {
    padding-top: 1rem;
}

.infos-hr {
    margin-bottom: 7rem;
    border: none;
    background-color: #fff;
    height: 1px;
    border-radius: 50%;
}

.infos-first {
    display: flex;
    gap: 1rem;
    padding-bottom: 7rem;
}

.infos-first-img {
    display: flex;
    width: 50%;
}

.infos-first-img img {
    width: 80%;
}

.infos-first-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*  */

.infos-second {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 7rem;
}

.infos-second-img {
    display: flex;
    width: 50%;
    justify-content: right;
}

.infos-second-img img {
    width: 80%;
}

.infos-second-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    padding: 7rem 10%;
    padding-top: 0%;
    /* justify-content: space-between; */
    background-color: transparent;
}

.footer-hr {
    top: 0;
    height: 1px;
    border: none;
    background-color: #fff;
    margin-bottom: 5rem;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}

.footer-info .card-p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-indent: 0;
    text-align: center;
}

/* BREAKPOINTS */

@media (max-width: 1026px) {
    .header {
        padding: 1.3rem 5%;
    }

    /*  */

    .wrapper {
        padding: 7rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        row-gap: 80px;
    }
    
    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        /* border-width: 150px 150px 300px; */
        border-color: #ffa5ea transparent;
    
        border-left: 150px solid transparent ;
        border-right: 150px solid transparent ;
        border-top: 300px solid #ffa5ea;
        border-bottom: transparent;
    }

    /*  */

    .box-info {
        /* position: fixed; */
        padding: 0 10%;
    
        height: 180%;
    }

    .info-box {
        position: absolute; 
        overflow: auto;
        width: 90%;
        height: fit-content;
        padding: 5%;
        margin-top: 6rem;
    }
    
    .info-box-start {
        display: flex;
        text-align: left;
        height: fit-content;
        padding-bottom: 1rem;
    }

    .info-box-personal {
        width: 50%;
    }
    
    .info-box-img {
        width: 50%;
        height: 30rem;
        display: flex;
        padding-right: 1rem;
        /* padding-bottom: 1rem; */
    }
    .info-box-img img {
        height: 80%;
    }

/* infos */

.infos {
    padding: 0 5%;
    width: 100%;
}

.infos-hr {
    margin-bottom: 7rem;
    border: none;
    background-color: #fff;
    height: 1px;
    border-radius: 50%;
}

.infos-first {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding-bottom: 7rem;
}

.infos-first-img {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 7rem;
}

.infos-first-img img {
    width: 80%;
}

.infos-first-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*  */

.infos-second {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 7rem;
}

.infos-second-img {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 7rem;
}

.infos-second-img img {
    width: 80%;
}

.infos-second-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    padding: 7rem 10%;
    padding-top: 0%;
    /* justify-content: space-between; */
    /* background-color: #333; */
}
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.footer-info .card-p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-indent: 1.3rem;
    text-align: justify;
}

}

@media (max-width: 800px) {

    .h2-title {
        color: #fff;
        font-size: 2rem;
    }
    
    .p {
        color: #fff;
        font-size: 1.2rem;
        line-height: 2rem;
        text-indent: 3rem;
    }

    .menu-btn {
        display: inline-flex;
        right: 5%;
    }

    .menu-btn #menu_close {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: fit-content;
        padding: 5% 0;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

    #navbar {
        display: none;
    }
    #navbar.show {
        display: block;
    }

    #menu_open {
        display: block;
    }
    #menu_open.hide {
        display: none;
    }

    #menu_close {
        display: none;
    }
    #menu_close.show {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    /*  */

    .painel {
        padding: 0 5%;
    }

    .wrapper {
        padding: 120px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        row-gap: 80px;
    }
    


    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        /* border-width: 150px 150px 300px; */
        border-color: #ffa5ea transparent;
    
        border-left: 125px solid transparent ;
        border-right: 125px solid transparent ;
        border-top: 250px solid #ffa5ea;
        border-bottom: transparent;
    }

    /*  */

    .box-info {
        /* position: fixed; */
        padding: 0 10%;
        height: 300%;
    }

    .info-box {
        /* position: absolute; */
        overflow: scroll;
        width: 96%;
        height: fit-content;
        padding: 5%;
        margin-top: 6rem;
    }
    
    .info-box-start {
        display: flex;
        flex-direction: column;
        text-align: left;
        height: fit-content;
        padding-bottom: 1rem;
    }

    .info-box-personal {
        width: 100%;
    }
    
    .info-box-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .info-box-img img {
        width: 100%;
    }

    .card-close {
        color: #fff;
    }

    /* infos */

    .infos-first {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        padding-bottom: 4rem;
    }
    
    .infos-first-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
    }
    
    /*  */
    
    .infos-second {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 4rem;
    }
    
    .infos-second-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
    }
    
    .infos-second-img img {
        width: 80%;
    }
    
    .infos-second-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    /* footer */

    .footer {
        display: flex;
        flex-direction: column;
        padding: 7rem 10%;
        padding-top: 0%;
        /* justify-content: space-between; */
        /* background-color: #333; */
    }
    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    .footer-info .card-p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-indent: 1.3rem;
        text-align: justify;
    }

}
